# Xcode
DerivedData/
*.xcworkspace
!*.xcworkspace/contents.xcworkspacedata
*.xcuserdata
*.xcuserstate

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Environment
.env

# macOS
.DS_Store

# Logs
*.log
